<div class="accordion ">
    {% for order in orders%}
    <div class="bg-white rounded-2 overflow-hidden shadow-sm mt-3">

        <div class="d-flex justify-content-between flex-wrap align-items-center border rounded-top ">
            <p class="h2 px-3 py-2">{{ order.date_create }}</p>
        </div>



        <div class="accordion-item ">

            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#order_{{ order.id }}" aria-expanded="false"
                        aria-controls="order_{{ order.id }}">
                    <div class="order_view btn-group order_info  btn-group-lg bg-white" data-id="{{ order.id }}">
                        <div class="btn btn-outline-primary">
                            <span>Заказ</span> №
                            {{ order.id }} от {{ order.date_create }}
                        </div>
                        <div class="btn  ">
                            <span>Статус: </span>{{ order.status }}
                        </div>
                        <div class="btn btn-outline-primary">
                            <span>Товаров:</span>
                            {{ order.amount }}
                        </div>
                        <div class="btn btn-outline-primary">
                            <span>Сумма:</span>
{{ order.price }}
                        </div>
                    </div>
                </button>
            </h2>
            <div id="order_{{ order.id }}" class="accordion-collapse collapse">
                <div class="accordion-body cart" data-id="{{ order.id }}">

                    {% for meal in order.meals %}
                    {% include 'order/elements/order_items.html'%}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>