<div class="modal fade" id="CreateOrderModal" tabindex="-1" aria-labelledby="CreateOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="CreateOrderModalLabel">Подтверждение паролем</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" class="ajaxForm" novalidate>
                {% csrf_token %}
                <div class="modal-body my-4 mx-5 d-flex flex-column align-items-center  ajaxForm">

                    <div class="row mb-2 w-100">
                        <label class="col-form-label" for="cab">Место доставки:</label>
                        <div class="">
                            <select name="cab" id="cab" class="form-select">
                                {% for cab in cabs %}

                                <option value="{{ cab.id }}">{{ cab.num }} {{ cab.name }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>
                        {{ form.as_p }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <input type="submit" class="btn btn-primary" value="Сформировать заказ">
                </div>
            </form>
        </div>
    </div>
</div>
