<header class="sticky-top z-3  ">
    <nav class="navbar navbar-expand-lg bg-primary rounded" data-bs-theme="dark" aria-label="Offcanvas navbar large">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">АптДоставка</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
                    aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-primary" tabindex="-1" id="offcanvasNavbar2"
                 aria-labelledby="offcanvasNavbar2Label">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbar2Label">
                        <a class="navbar-brand" href="/">АптДоставка</a>
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item ">
                            <a class="nav-link text-white d-flex align-items-center"
                               aria-current="page" href="{% url 'home' %}">Главная</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-white d-flex align-items-center "
                               aria-current="page" href="{% url 'cart' %}">Корзина
                                <span class="material-icons-outlined">shopping_cart</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white d-flex align-items-center "
                               aria-current="page" href="{% url 'order' %}">Заказы
                                <span class="material-icons">room_service</span>
                            </a>
                        </li>
                        {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center " href="/admin">АдминПанель</a>
                        </li>
                        {% endif %}
                        {% endif %}
                    </ul>
                    <div class="form-inline order-lg-3">
                        <ul class="navbar-nav d-flex flex-row align-items-center">
                            {% if request.user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <button class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    {{user.username}}

                                </button>
                                <ul class="dropdown-menu position-absolute">
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
                                    </li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link text-white px-2" href="{% url 'registration' %}">Регистрация</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="{% url 'login' %}">Войти</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>