{% if not meals %}
<div class="col w-100">
    {% include 'home/elements/danger.html' with text="Ничего не найдено"%}
</div>
{% endif %}
{% for meal in meals%}
<div class="">
    <div class="meal-item card shadow-sm h-100" data-id="{{ meal.id }}">
        <img src="{{meal.image.url}}" class="meal-image card-img-top object-fit-contain w-100"
             height="225" alt="катринка с блюдом">
        <div class="card-body d-flex flex-column justify-content-between">
            <div>
                <h5 class="meal-name card-title name_meal">{{ meal.name }}</h5>
                <p class="meal-category card-text name_cat">{{ meal.category.name }}</p>
            </div>
            <div class="meal-price fs-3 fw-semibold">{{meal.price}}р</div>
            {% if request.user.is_authenticated %}

            <div class="card-button d-flex justify-content-center align-items-center gap-3 w-100">
                {% if meal.cart %}
                <button class="cart_remove btn btn-danger  me-auto" data-id="{{ meal.id }}">
                    Убрать
                </button>

                <button class="btn btn-primary sub-from-cart-button" data-id="{{ meal.id }}">-</button>
                <span>{{meal.cart}}</span>
                <button class="add-to-cart-button btn btn-primary cart_add"
                        data-id="{{ meal.id }}">+</button>
                {% else %}
                <button class="add-to-cart-button btn btn-primary cart_add ms-auto"
                        data-id="{{ meal.id }}">В корзину
                </button>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}




