{% extends 'home/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block body %}
<div id="head" class="d-flex justify-content-between flex-wrap align-items-center">
    <h2 class=" ps-0  px-3 py-2">Корзина</h2>
    {% if carts %}
    <div>
        <button class="cart_empty btn btn-danger">Очистить корзину</button>
        <button class="create_order btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateOrderModal">
            Оформить заказ
        </button>
    </div>
    {% endif %}
</div>
<div>

</div>
{% include 'cart/elements/cart_modal.html'%}

{% include 'cart/elements/cart_items.html' %}

<script src="{% static 'cart/js/script.js' %}"></script>
<script src="{% static 'home/js/script.js' %}"></script>
<script src="{% static 'cart/js/form_style.js'%}"></script>

{% endblock %}