{% extends 'home/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block body %}

{% include 'home/elements/aside.html' %}
<section  data-bs-spy="scroll"  data-bs-smooth-scroll="true" class="row" tabindex="0" >
    {% for category in categories %}
    <div id="cat_{{category.id}}" class="pb-5">
        <div>
            <h2 >{{category.name}}</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-2  row-cols-xl-3 g-3">
            {% include 'home/elements/meals_cards.html' with meals=category.meals.all %}
        </div>
    </div>
    {% endfor %}
</section>

<!--<script src="{% static 'home/js/ajax/pagintion.js'%}"></script>-->
<script src="{% static 'home/js/script.js' %}"></script>
{% endblock %}