{% extends 'admin/base_site.html' %}

{% block content %}
{% if custom_links %}

<div style="display:flex;">
    {% for link in custom_links %}
    <a href="{{ link.url }}" style="padding: 0.3em 0.6em; border: 1px solid #e6e6e6;
         border-radius: 0.25em; margin-right: 0.4em; background-color: #fafafa;">
        {{ link.label }}
    </a>
    {% endfor %}
</div>

{% endif %}
<table>
    <thead>
    <tr>
        <th>Пользователь</th>
        <th>Количество заказов</th>
    </tr>
    </thead>
    <tbody>
    {% for item in frequency %}
    <tr>
        <td>{{item.user}}</td>
        <td>{{item.order_count}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
