{% extends 'home/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}

<div class="d-flex justify-content-center  ">
    <form class="d-flex flex-column w-100 px-5 py-4 rounded-2 shadow bg-white ajaxForm" method="POST" style="max-width: 500px;">
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-flex justify-content-end">
            <button class="w-100 btn btn-lg btn-primary checkFormBtn" type="submit">Войти</button>
        </div>
    </form>
</div>
<script src="{% static 'log_reg/js/script.js'%}"></script>
{% endblock %}