{% extends 'admin/base_site.html' %}{% load static %}{% block extrahead %} {{ block.super }}
<link rel="stylesheet" href="{% static 'order/css/Chart.min.css' %}"/>
<link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}"/>

<script src="{% static 'order/dist/Chart.bundle.min.js'%}"></script>
<script src="{% static 'order/dist/moment-with-locales.js'%}"></script>
<script src="{% static 'order/dist/chartjs-adapter-moment.js'%}"></script>
{% endblock %} {% block content %} {% if custom_links %}

<div class="d-flex flex-wrap">
    {% for link in custom_links %}
    <a href="{{ link.url }}" style="
      padding: 0.3em 0.6em;
      border: 1px solid #e6e6e6;
      border-radius: 0.25em;
      margin-right: 0.4em;
      background-color: #fafafa;
    ">
        {{ link.label }}
    </a>
    {% endfor %}
</div>

{% endif %}
<div class="mb-5">
    <h2>Курьеры:</h2>
    <canvas id="couriersChart" style="margin-bottom: 30px; width: 60%; height: 50%"></canvas>
</div>
<script>
    const couriersData = {{ couriers|safe }};
    const ctxCouriers = document.getElementById('couriersChart').getContext('2d');
    const couriersChart = new Chart(ctxCouriers, {
        type: 'horizontalBar',
        data: {
            labels: couriersData.map(item => item.deliver__username),
            datasets: [{
                label: 'Количество заказов у курьеров',
                data: couriersData.map(item => item.count),
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 205, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(201, 203, 207, 0.2)'
                ],
                borderColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                    'rgb(153, 102, 255)',
                    'rgb(201, 203, 207)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {

                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}