{% extends 'admin/base_site.html' %}

{% block content %}
{% if custom_links %}

<div style="display:flex;">
    {% for link in custom_links %}
    <a href="{{ link.url }}" style="padding: 0.3em 0.6em; border: 1px solid #e6e6e6;
         border-radius: 0.25em; margin-right: 0.4em; background-color: #fafafa;">
        {{ link.label }}
    </a>
    {% endfor %}
</div>

{% endif %}


{% if user_type == 'all' %}
<h2>Клиенты:</h2>
<table>
    <thead>
    <tr>
        <th>Пользователь</th>
        <th>Количество заказов</th>
    </tr>
    </thead>
    <tbody>
    {% for item in user_data.clients %}
    <tr>
        <td>{{ item.user }}</td>
        <td>{{ item.count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Курьеры:</h2>
<table>
    <thead>
    <tr>
        <th>Курьер</th>
        <th>Количество заказов</th>
    </tr>
    </thead>
    <tbody>
    {% for item in user_data.couriers %}
    <tr>
        <td>{{ item.deliver }}</td>
        <td>{{ item.count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% elif user_type == 'clients' %}
<h2>Клиенты:</h2>
<table>
    <thead>
    <tr>
        <th>Пользователь</th>
        <th>Количество заказов</th>
    </tr>
    </thead>
    <tbody>
    {% for item in user_data %}
    <tr>
        <td>{{ item.user }}</td>
        <td>{{ item.count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% elif user_type == 'couriers' %}
<h2>Курьеры:</h2>
<table>
    <thead>
    <tr>
        <th>Курьер</th>
        <th>Количество заказов</th>
    </tr>
    </thead>
    <tbody>
    {% for item in user_data %}
    <tr>
        <td>{{ item.deliver }}</td>
        <td>{{ item.count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
