{% load humanize %}
<div class="accordion row" id="order_accordion">
    {% for order in orders%}
    <div>
        <div class="bg-white rounded-2 overflow-hidden shadow-sm mb-3">
            <div class="border rounded-top px-3 py-2">
                <!-- для доставщика -->
                {% if request.user.groups.all.0.name == "deliver" %}
                <table class="table fs-6">
                    <thead>
                    <tr>
                        <th scope="col">Номер заказа</th>
                        <th scope="col">Время получения</th>
                        <th scope="col">Получатель</th>
                        <th scope="col">Курьер</th>
                        <th scope="col">Место доставки</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ order.id}}</td>
                        <td>{{order.order_date|date:'H:m'}}</td>
                        <td>{{order.user}}</td>
                        {% if order.deliver %}
                        <td>{{order.deliver}}</td>
                        {% else %}
                        <td>Курьер не выбран</td>
                        {% endif %}
                        <td>{{order.cab}}</td>
                    </tr>
                    </tbody>
                </table>
                {% if 'order_list' in request.path %}
                <button class="take_order btn btn-primary" data-id="{{order.id}}">Взять</button>
                {% elif 'deliver_order' in request.path %}
                {% if order.status.id == 4 %}
                <button class="in_way btn btn-primary" data-id="{{order.id}}">Изменить на в пути</button>
                {% elif order.status.id == 6 %}
                <button class="delivered btn btn-primary" data-id="{{order.id}}">Изменить на доставлен</button>
                {% endif %}
                {% endif %}
                <!-- конец для доставщика -->
                {% else %}
                <div class="d-flex justify-content-between flex-wrap align-items-center">
                    <p class="fs-4 "><span>Заказ</span> №
                        {{ order.id }} на {{ order.order_date }}</p>
                    <p class="fs-4">{{order.cab}}</p>
                </div>
                {% endif%}
                {% if order.user_comment %}
                <p>Комментарий: {{order.user_comment}}</p>
                {% endif %}
                {% if order.result %}
                <p>
                    Причина отмены:{{order.result}}
                </p>
                {% endif %}
                <form action="" method="post" data-order-id="{{order.id}}" class="row">
                    {% csrf_token %}
                    <div class="col">
                        <label>Время получения заказа:</label>
                        <input class="form-control" type="time" value="{{order.order_date }}" name="order_date">
                    </div>
                    <div class="col">
                        <label>Комментарий к заказу:</label>
                        <textarea class="form-control">{{order.user_comment}}</textarea>
                    </div>
                    <div class="col">
                        <label>Место доставки:</label>
                        <select name="cab" id="cab" class="form-select">
                            {% for cab in cabs %}
                            <option value="{{ cab.id }}">{{ cab.num }} | {{ cab.name }}</option>
                            {% endfor %}

                        </select>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Применить изменения</button>
                    </div>
                </form>
            </div>
            <div class="accordion-item ">
                <div class="accordion-header">

                    <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#order_{{ order.id }}"
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                            aria-controls="order_{{ order.id }}">
                        <div class="order_view btn-group order_info  bg-white d-flex flex-wrap"
                             data-id="{{ order.id }}">
                            <div class="btn btn-outline-primary">
                                <span>Создан: </span>{{order.date_create|naturalday}}
                            </div>
                            <div class="btn
                            {% if order.status.id  == 1%} btn-primary
                            {% elif order.status.id == 2 or order.status.id == 7 or order.status.id == 5 %}btn-success
                            {%elif order.status.id == 3%}btn-danger
                            {% else %}btn-outline-primary{%endif%}">
                                Статус: <span data-id="{{order.id}}"> {{ order.status }} </span>
                            </div>
                            <div class="btn btn-outline-primary">
                                <span>Блюд:</span>
                                {{ order.amount }}
                            </div>
                            <div class="btn btn-outline-primary">
                                <span>Сумма:</span>
                                {{order.total_amount}}р
                            </div>
                        </div>
                    </button>
                </div>
                <div id="order_{{ order.id }}"
                     class="accordion-collapse collapse {% if forloop.first %}show{% endif %}">
                    <div class="accordion-body cart" data-id="{{ order.id }}">
                        {% if order.status.code == 'new' %}
                        {% include 'cart/elements/cart_items.html' with carts=order.meals%}
                        {% else %}
                        {% for meal in order.meals %}
                        {% include 'order/elements/order_item_meals.html'%}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    {% include 'home/elements/danger.html' with text='Заказов нет'%}
    {% endfor %}
</div>