{% load humanize %}
<div class="accordion row" id="order_accordion">
    {% for order in orders%}
    <div>
        <div class="bg-white rounded-2 overflow-hidden shadow-sm mb-3">
            {% if request.user.groups.all.0.name == "deliver" %}
            <div class="border rounded-top px-3 py-2">
                <!-- для доставщика -->
                <table class="table fs-6">
                    <thead>
                    <tr>
                        <th scope="col">Номер заказа</th>
                        <th scope="col">Время получения</th>
                        <th scope="col">Получатель</th>
                        <th scope="col">Курьер</th>
                        <th scope="col">Место доставки</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ order.id}}</td>
                        <td>{{order.order_date}}</td>
                        <td>{{order.user}}</td>
                        {% if order.deliver %}
                        <td>{{order.deliver}}</td>
                        {% else %}
                        <td>Курьер не выбран</td>
                        {% endif %}
                        <td>{{order.cab}}</td>
                    </tr>
                    </tbody>
                </table>
                {% if 'order_list' in request.path %}
                <button class="take_order btn btn-primary" data-id="{{order.id}}">Взять</button>
                {% elif 'deliver_order' in request.path %}
                {% if order.status.id == 4 %}
                <button class="in_way btn btn-primary" data-id="{{order.id}}">Изменить на в пути</button>
                {% elif order.status.id == 6 %}
                <button class="delivered btn btn-primary" data-id="{{order.id}}">Изменить на доставлен</button>
                {% endif %}
                {% endif %}
                <!-- конец для доставщика -->
            </div>
            {% endif%}
            <div class="accordion-item ">
                <div class="accordion-header">
                    <button aria-controls="order_{{ order.id }}"
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                            class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                            data-bs-target="#order_{{ order.id }}"
                            data-bs-toggle="collapse"
                            type="button">
                        <div class="row justify-content-center align-items-center w-100">
                            <span class="col-auto fs-4 ">Заказ №
                                {{ order.id }} на {{order.date_create|naturalday}}</span>
                            <div class="col">
                                <div class="row order_view btn-group p-0 m-0 order_info  bg-white"
                                     data-id="{{ order.id }}">
                                    <div class="col-auto btn
                                                {% if order.status.id  == 1%} btn-primary
                                                {% elif order.status.id == 2 or order.status.id == 7 or order.status.id == 5 %}btn-success
                                                {% elif order.status.id == 3%}btn-danger
                                                {% else %}btn-outline-primary{%endif%}">
                                        Статус: <span data-id="{{order.id}}"> {{ order.status }} </span>
                                    </div>
                                    <div class="col-auto btn btn-outline-primary">
                                        <span>Блюд:</span>
                                        {{ order.amount }}
                                    </div>
                                    <div class=" col-auto btn btn-outline-primary">
                                        <span>Сумма:</span>
                                        {{order.total_amount}}р
                                    </div>
                                </div>
                            </div>
                            <span class="col-auto fs-4">
                                <div class="row row-cols-1 text-end">
                                    <div class="col ">
                                        {{order.cab}}
                                    </div>
                                    <div class="col">
                                        на {{ order.order_date }}
                                    </div>
                                </div>
                            </span>
                            {% if order.deliver%}
                            <div class="deliver-info col-12">
                                <div class="row">
                                    <div class="col">Доставщик: {{order.deliver}}</div>
                                </div>
                            </div>
                            {% endif%}
                            <div class="col-12">
                                {% if order.user_comment %}
                                <p>Ваш комментарий: {{order.user_comment}}</p>
                                {% endif %}
                                {% if order.result %}
                                <p>
                                    Причина отмены:{{order.result}}
                                </p>
                                {% endif %}
                            </div>
                        </div>
                    </button>
                </div>
                <div class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                     id="order_{{ order.id }}">
                    <div class="accordion-body cart" data-id="{{ order.id }}">
                        {% if order.status.code == 'new' %}
                        <form action="" class="row row-cols-1 gap-3 mb-3" data-order-id="{{order.id}}" method="post">
                            {% csrf_token %}
                            <div class="col-auto">
                                <label>Время получения заказа:</label>
                                <input class="form-control" name="order_date" type="time"
                                       value="{{order.order_date|date:'H:i' }}">
                            </div>
                            <div class="col-auto">
                                <label>Место доставки:</label>
                                <select class="form-select" id="cab" name="cab">
                                    {% for cab in cabs %}
                                    {% if order.cab.id == cab.id %}
                                    <option selected value="{{ cab.id }}">
                                        {{ cab.num }} | {{ cab.name }}
                                    </option>
                                    {% else %}
                                    <option value="{{ cab.id }}">
                                        {{ cab.num }} | {{ cab.name }}
                                    </option>
                                    {% endif %}
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="col">
                                <label>Комментарий к заказу:</label>
                                <textarea class="form-control" name="user_comment">{{order.user_comment}}</textarea>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-primary order_update" data-order-id="{{order.id}}" type="submit">
                                    Применить изменения
                                </button>
                            </div>
                        </form>
                        {% include 'cart/elements/cart_items.html' with carts=order.meals %}
                        {% else %}
                        {% for meal in order.meals %}
                        {% include 'order/elements/order_item_meals.html'%}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    {% include 'home/elements/danger.html' with text='Заказов нет'%}
    {% endfor %}
</div>