{% extends 'home/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block body %}

<div id="head" class="d-flex justify-content-between flex-wrap align-items-center py-2">
    <h2 class=" ps-0  px-3 ">Корзина</h2>


</div>
{% if carts %}
<div id="cart_buttons" class="d-flex gap-1 sticky-top justify-content-end pb-2 z-1" style="top:80px">
    <button class="cart_empty btn btn-danger shadow">Очистить корзину</button>
    <button class="create_order btn btn-primary shadow" data-bs-toggle="modal" data-bs-target="#CreateOrderModal">
        Оформить заказ <span id="total_price">{{total_price}}</span>р
    </button>
</div>
{% endif %}

{% include 'cart/elements/cart_modal.html'%}

{% include 'cart/elements/cart_items.html' %}

<script src="{% static 'cart/js/script.js' %}"></script>
<script src="{% static 'home/js/script.js' %}"></script>
<script src="{% static 'cart/js/form_style.js'%}"></script>

{% endblock %}