<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block head%}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap-icons-1.11.3/font/bootstrap-icons.css'%}">
    <script defer src="{% static 'js/home/dragscroll.js' %}"></script>
    <script src="{% static 'js/home/jquery-3.7.1.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_head %}{% endblock %}
</head>
{% include 'home/css/style.html'%}
<body class="d-flex flex-column min-vh-100 container">
{% include 'home/elements/header.html' %}
<main class="my-4">
    {% if messages %}
    <ul class="list-unstyled messages">
        {% for message in messages %}
        <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% block content %}
    {% endblock %}
</main>
{% include 'home/elements/footer.html' %}
<script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
{% block extra_body %}{% endblock %}
</body>
</html>
