{% extends 'home/base.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block body %}
<div class="d-flex justify-content-between flex-wrap align-items-center">
  <h2 class=" ps-0  px-3 py-2">Заказы</h2>
  <div class="d-flex justify-content-end z-1">
    <button class="view_all btn btn-primary position-fixed " style="top:80px;">Показать все</button>
  </div>
</div>
{% include 'order/elements/order_item.html'%}
<script src="{% static 'order/js/order_view_close.js' %}"></script>

{% endblock %}